<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="GUI.Properties.Settings.DoAn_QuanLyKhoConnectionString"
          connectionString="Data Source=LAPTOP-UHMPS5MJ\SQLEXPRESS;Initial Catalog=DoAn_QuanLyKho;Persist Security Info=True;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
      <add name="DoAn_QuanLyKhoConnectionString" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-UHMPS5MJ\SQLEXPRESS;user id=;password=;initial catalog=DoAn_QuanLyKho;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GUI.Properties.Settings>
        <setting name="RememberMe" serializeAs="String">
            <value>true</value>
        </setting>
        <setting name="UserName" serializeAs="String">
            <value />
        </setting>
        <setting name="Password" serializeAs="String">
            <value />
        </setting>
    </GUI.Properties.Settings>
  </userSettings>
</configuration>